# Pandas: Working with DataFrames

## Table of Contents

1. [**Introduction**](#Intro)
2. [**DataFrame**](#DataFrm)
3. [**Selection and Slicing**](#SelSlic)
4. [**Sorting**](#Sort)
5. [**Summarizing and Descriptive Statistics**](#Summary)
6. [**Importing Data Sets**](#import)

    6.1. [**CSV Files**](#csv)

    6.2. [**Excel Files**](#excel)

    6.3. [**GeoJASON Files**](#jason)

7. [**Miscellaneous**](#misc)

## 1. Introduction <a name="Intro"></a>

__pandas__ will be one of the major tool that we use for much of the rest of the semester. It contains data structures and data manipulation tools designed to make data cleaning and analysis fast and easy in Python.

pandas is often used in tandem with numerical computing tools like _NumPy_ and _SciPy_, analytical libraries like _statsmodels_ and _scikit-learn_, and data visualization libraries like _matplotlib_. Pandas adopts significant
parts of NumPyâ€™s style of array-based computing.

However, _pandas_ is designed for working with tabular or heterogeneous data. _NumPy_, by contrast, is best suited for working with homogeneous numerical array data.

Let's import the library and start learning how to use it!

In [2]:
import pandas as pd     # importing the library

## 2. DataFrame <a name="DataFrm"></a>

A DataFrame represents a rectangular table of data and contains an ordered collection of columns, each of which can be a different value type (numeric, string, boolean, etc.). The DataFrame has both a row and column index. Each column of a dataframe is a _Series_. We will talk about some of the properties of the _Series_ later if needed. If you want to know more about Series, you can take a look at this link: https://towardsdatascience.com/pandas-series-a-lightweight-intro-b7963a0d62a2

![alt text](https://docs.google.com/uc?export=download&id=1Jl2U_DrjXiNqBXZKFD2oOC-b9TPUv7Pv)

But for now, let's focus on DataFrames. There are multiple ways to construct a DataFrame, though one of the most common one is from a dictionary of equal-length lists or _NumPy_ arrays:

In [4]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}

frame = pd.DataFrame(data)  #defines data as a data frame
frame    #prints the data frame

In [5]:
frame.head()     # if you have a large dataframe and want to see only the first 5 rows

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

In [6]:
frame.tail(2)    # if you have a large dataframe and want to see only the last 2 rows

    state  year  pop
4  Nevada  2002  2.9
5  Nevada  2003  3.2

You can re-arrange the order with which the columns are represented while forming the dataframe.

In [7]:
frame2=pd.DataFrame(data, columns=['year', 'state', 'pop'])
frame2

   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9
5  2003  Nevada  3.2

We can __add a new column__ by just assigning a name and the values for that new column as long as that column did not have exist from before in our dataframe:

In [8]:
frame2['area'] = [44825,44825,44825,110567,110567,110567]
frame2

   year   state  pop    area
0  2000    Ohio  1.5   44825
1  2001    Ohio  1.7   44825
2  2002    Ohio  3.6   44825
3  2001  Nevada  2.4  110567
4  2002  Nevada  2.9  110567
5  2003  Nevada  3.2  110567

We can also __drop a column__ using the <font color='blue'>drop</font> method.

In [ ]:
# Defining the dataframe again
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data)
frame

In [9]:
frame.drop(columns='state', inplace=True)   
frame

   year  pop
0  2000  1.5
1  2001  1.7
2  2002  3.6
3  2001  2.4
4  2002  2.9
5  2003  3.2

You can see a list of columns' names:

In [10]:
frame.columns

Index(['year', 'pop'], dtype='object')

We can also check if a specific column exists in the columns of a dataframs using <font color='blue'>in</font>. The output is <font color='green'>True</font> if it does and <font color='green'>False</font> if it does not.

In [11]:
'year' in frame.columns     # is 'year' a column in dataframe frame ?

True

<font color='orange'> __Note__:</font> The _index_ values are autoamtically created and start from __0__ when you create a DataFrame. However, you can explicitly define the index values.

In [14]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
test = pd.DataFrame(data)    
test

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

In [15]:
frame3 = pd.DataFrame(data,columns=['year','state','pop'],
                      index=['row 1','row 2','row 3', 'row 4','row 5','row 6'])
print(frame3)         # Print the DataFrame
print('')
print(frame3.index)   # See a list of index values

       year   state  pop
row 1  2000    Ohio  1.5
row 2  2001    Ohio  1.7
row 3  2002    Ohio  3.6
row 4  2001  Nevada  2.4
row 5  2002  Nevada  2.9
row 6  2003  Nevada  3.2

Index(['row 1', 'row 2', 'row 3', 'row 4', 'row 5', 'row 6'], dtype='object')

<font color='red'>__Question (1)__</font>: Define a dataframe, named _dfq_ using the following dictionary and then print the output for each section.
```python
dictq=
{'Rank':[1,2,3,4,5],
'Country':['United States','China','Japan','Germany','India'],
'GDP (US $Million)':[21427700,14342903,5081770,3845630,2875142]}
```
- Show the first three rows of the dataframe
- Add the following as a new column to the dataframe:
```python
'Area sq mi':[3796742, 3705407, 145937, 137847, 1269219]
```
- Drop the _Rank_ column
- Check if label _area_ is one of the column labels

In [21]:
## In-class Assignment
dictq= {'Rank':[1,2,3,4,5],
'Country':['United States','China','Japan','Germany','India'],
'GDP (US $Million)':[21427700,14342903,5081770,3845630,2875142]}

dfq = pd.DataFrame(dictq)  #define data frame

dfq.head(3)   #printing first 3 rows

dfq['Area sq mi'] = [3796742, 3705407, 145937, 137847, 1269219]   #adding new column

dfq.drop(columns='Rank', inplace=True)  #dropping Rank column

dfq.columns  
'area' in dfq.columns #checking if area is a column label

False

## 3. Selection and Slicing <a name="SelSlic"></a>
Selecting specific columns and rows is quite similar to the way we make the slections in _Numpy_. For example, to select specific __columns__:

In [ ]:
frame2=pd.DataFrame(data, columns=['year', 'state', 'pop'],
                    index=["R1", "R2", "R3", "R4", "R5", "R6"])
frame2

In [ ]:
frame2['state']                   # This produces a panda series. Check the data type using the command type(frame2['state'])

In [ ]:
frame2[['state']]                 # This produces a dataframe

In [ ]:
frameNew=frame2[['year','state']]  # Selecting two columns and putting them in a new dataframe
frameNew.head(3)                   # printing only the first three rows

You can select specific __rows__ in the same way you do for dictionaries and arrays in _Numpy_.

In [22]:
print(frame2[0:2])                              # Selecting the first two rows
print('')
print(frame2[:2])                               # Selecting the first 2 rows

   year state  pop   area
0  2000  Ohio  1.5  44825
1  2001  Ohio  1.7  44825

   year state  pop   area
0  2000  Ohio  1.5  44825
1  2001  Ohio  1.7  44825

In order to make specific slices of a dataframe in pandas, we can use <font color='blue'>loc</font> and <font color='blue'>iloc</font> methods. They enable you to select a subset of the rows and columns from a DataFrame with NumPy-like notation using either axis labels (loc) or integers (iloc).

Let's define a new dataframe and use it to take a look at the way loc and iloc methods work. This time, I am using a different method to create a DataFrame. I define a 3 by 3 matrix (a 2D array)as the base and then define index and column names.

In [24]:
import numpy as np
df = pd.DataFrame( np.arange(9).reshape((3, 3)),
                  index=['a', 'c', 'd'],
                  columns=['Ohio', 'Texas', 'California'])
df

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8

When we use the method <font color='blue'>loc</font>, we make selections based on the index and column labels:
![alt text](https://docs.google.com/uc?export=download&id=1isFZwrMJRCvvI8se3Zxk9PZzkiygOkmg)

In [25]:
df.loc[['a']]                            # select a specific row, outputs a frame

   Ohio  Texas  California
a     0      1           2

In [26]:
df.loc['a']                              # select a specific row, outputs a series

Ohio          0
Texas         1
California    2
Name: a, dtype: int64

In [27]:
df.loc['c','Ohio']                       # selecting row c, column Ohio

3

In [28]:
df.loc[['a','c'],['Ohio','California']]  # selecting rows a & c, columns Ohio & California

   Ohio  California
a     0           2
c     3           5

When we use the method <font color='blue'>iloc</font>, we make the selections based on the index and column integer values:
![alt text](https://docs.google.com/uc?export=download&id=1folfwTBlCldBpDrPGNntuZ2uFaojFkTz)

In [ ]:
df.iloc[[0]]                    # select a specific row, outputs a dataframe

In [ ]:
df.iloc[[1],[0]]                # selecting row c, column Ohio, outputs a dataframe

In [ ]:
df.iloc[[0,1],[0,2]]            # selecting rows a & c, columns Ohio & California

Some other examples of using `loc` and `iloc` for slicing

In [ ]:
df.loc[:,:'Texas']                   # All the rows with columns up to Texas

In [ ]:
df.loc['c':,:'Ohio']                  # Row c and d with the first column

In [ ]:
df.iloc[:,:2]

In [ ]:
df.iloc[:,:2]                   # All the rows and columns up to Texas

In [ ]:
df.iloc[1:,:1]                   # Row c and d and the first column, Ohio

Following table summarizes the slicing and selection possibilities for Series type outputs.

![alt text](https://docs.google.com/uc?export=download&id=1aqTJlhANKLOVsYtZdnp0Gsx8M-1Bxcd-)
![alt text](https://docs.google.com/uc?export=download&id=1I1YNHbzdfylM_bugaf9AXacdggm-NyJM)

In [ ]:
df.iat[0,1]

<font color='red'>__Question (2)__</font>: Define a dataframe, called ```df_q``` with four columns of ```Car```, ```Model Year```, ```Propulsion```, and ```Time``` for the first five cars (https://en.wikipedia.org/wiki/List_of_fastest_production_cars_by_acceleration). Print the output for each section.
- Define a new _DataFrame_ with only 'Car' and 'Time' columns.
- Select the first three rows of the original dataframe, df_q
- Make a slice that includes only 'Car', 'Propulsion' and 'Time' columns for the first two cars.

In [39]:
## In-Class Assignment
import numpy as np

dictq= {'Car':['Tesla Model S Plaid','Ferrari SF90 Stradale','Porsche 918 Spyder','Porsche 911 Turbo S','Lamborghini Huracan Performante'],
'Model Year':[2021,2021,2015,2020,2018],
'Propulsion':['EV','Hybrid','Hybrid','ICE','ICE'],
'Time':[1.98,2.0,2.1,2.1,2.2]}

df_q = pd.DataFrame(dictq)
df_q

dfq_new = df_q.loc[:,['Car','Time']]
dfq_new

df_q.loc[[0,1,2],:]

df_q.loc[[0,1],['Car','Propulsion','Time']]

                     Car Propulsion  Time
0    Tesla Model S Plaid         EV  1.98
1  Ferrari SF90 Stradale     Hybrid  2.00

## 4. Sorting <a name="Sort"></a>

Sorting a dataset by some criterion is another important operation when performing data analysis. To sort by row index or column label, use the <font color='blue'>sort_index</font> method.

In [40]:
import numpy as np       # just to make sure numpy is imported!

frame = pd.DataFrame(np.arange(12).reshape((3, 4)),
                     index=[2,1,4],
                     columns=['d', 'a', 'b', 'c'])
frame

   d  a   b   c
2  0  1   2   3
1  4  5   6   7
4  8  9  10  11

In [41]:
frame.sort_index()             # Sorting along index axis 0, default

   d  a   b   c
1  4  5   6   7
2  0  1   2   3
4  8  9  10  11

In [42]:
frame.sort_index(axis=1)       # Sorting along index axis 1, column labels

   a   b   c  d
2  1   2   3  0
1  5   6   7  4
4  9  10  11  8

<font color='orange'> __Note__:</font> Sorting does not change the frame by default. You can change that by setting ```inplace=True```.

you can use the data in one or more columns as the sort keys. To do so, pass one or more column names to the <font color='blue'>by</font> option of <font color='blue'>sort_values</font> method

In [43]:
frame = pd.DataFrame({'b': [4, 7, -3, 2], 'a': [2, 1, 0, 1]})
frame

   b  a
0  4  2
1  7  1
2 -3  0
3  2  1

In [44]:
frame.sort_values(by='b')      # sort the dataframe based on the values on column b

   b  a
2 -3  0
3  2  1
0  4  2
1  7  1

To sort using multiple columns, pass a list of names:

In [45]:
frame.sort_values(by=['a', 'b'])

   b  a
2 -3  0
3  2  1
1  7  1
0  4  2

<font color='red'>__Question (3)__</font>: Use the dataframe you defined for the previous question, i.e. the list of fastest cars. Print the output for each section of the question.

- Sort the cars based on their Time, fastes at the top
- Sort the cars based on theirTime, slowest at the top
- Sort the cars based on the two columns of Model Year and Time.

In [55]:
## In-Class Assignment
df_q

print(df_q.sort_values(by='Time',ascending=False)) #sorted fastest to slowest times
print('')
print(df_q.sort_values(by='Time')) #sorted slowest to fastest times
print('')
print(df_q.sort_values(by=['Model Year','Time']))

                               Car  Model Year Propulsion  Time
4  Lamborghini Huracan Performante        2018        ICE  2.20
2               Porsche 918 Spyder        2015     Hybrid  2.10
3              Porsche 911 Turbo S        2020        ICE  2.10
1            Ferrari SF90 Stradale        2021     Hybrid  2.00
0              Tesla Model S Plaid        2021         EV  1.98

                               Car  Model Year Propulsion  Time
0              Tesla Model S Plaid        2021         EV  1.98
1            Ferrari SF90 Stradale        2021     Hybrid  2.00
2               Porsche 918 Spyder        2015     Hybrid  2.10
3              Porsche 911 Turbo S        2020        ICE  2.10
4  Lamborghini Huracan Performante        2018        ICE  2.20

                               Car  Model Year Propulsion  Time
2               Porsche 918 Spyder        2015     Hybrid  2.10
4  Lamborghini Huracan Performante        2018        ICE  2.20
3              Porsche 911 Turbo S        2020        ICE  2.10
0              Tesla Model S Plaid        2021         EV  1.98
1            Ferrari SF90 Stradale        2021     Hybrid  2.00

## 5. Summarizing and Descriptive Statistics <a name="Summary"></a>

**Pandas** objects are equipped with a set of common mathematical and statistical methods. Most of these fall into the category of reductions or summary statistics, methods that extract a single value (like the sum or mean) from the rows or columns of a DataFrame.

Let's create a DataFrame with some missing values, mimicking a common situation when dealing with real world data.

In [56]:
# make sure numpy is imported as np

df=pd.DataFrame([[1.4, np.nan], [7.1, -4.5],
              [np.nan, np.nan], [0.75, -1.3]],
             index=['a', 'b', 'c', 'd'],
             columns=['one', 'two'])
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

As you can see, we have three missing values in our DataFrame. The reason we choose this type of data frame is to show that Pandas function for summarizing and descriptive statistics have built-in handling for missing data.

Let's take a look at some of these methods:

In [57]:
print(df)                       # Printing the data frame for reference
print('------------------------------------')
print('Sum of the values down the rows (along axis 0):')
print(df.sum())                 # returns a Series containing column sums
print('')
# Passing axis='columns' or axis=1 sums across the columns instead
print('Sum of the values across the columns (along axis 1):')
print(df.sum(axis='columns'))

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3
------------------------------------
Sum of the values down the rows (along axis 0):
one    9.25
two   -5.80
dtype: float64

Sum of the values across the columns (along axis 1):
a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

NA values are excluded unless the entire slice (row or column in this case) is NA. This can be disabled with the <font color='blue'>skipna</font> option.

In [58]:
df.mean(axis='columns')     # Average of the values across the columns

a    1.400
b    1.300
c      NaN
d   -0.275
dtype: float64

In [59]:
df.cumsum()                               # Cumulative some of values

    one  two
a  1.40  NaN
b  8.50 -4.5
c   NaN  NaN
d  9.25 -5.8

A very common method that we use when doing exploratory data analysis is <font color='blue'>describe</font>, which produces multiple summary statistics in one shot.

In [60]:
df.describe()

            one       two
count  3.000000  2.000000
mean   3.083333 -2.900000
std    3.493685  2.262742
min    0.750000 -4.500000
25%    1.075000 -3.700000
50%    1.400000 -2.900000
75%    4.250000 -2.100000
max    7.100000 -1.300000

By default, method `describe` returns the statistics for numerical values.

In [61]:
dff = pd.DataFrame({"Numeric":[1,2,3],
                    "Categorical":pd.Categorical(['cat1', 'cat2', 'cat']),
                    "object":['obj1', 'obj2', 'obj2']})
dff

   Numeric Categorical object
0        1        cat1   obj1
1        2        cat2   obj2
2        3         cat   obj2

In [62]:
dff.describe()

       Numeric
count      3.0
mean       2.0
std        1.0
min        1.0
25%        1.5
50%        2.0
75%        2.5
max        3.0

The table below lists all the available methods for descriotive and summary statistics. To know more about each function, just follow the general approach to look at the corresponding help page. For instance to know more about <font color='blue'>count</font> type:
```python
df.count?
```

![alt text](https://docs.google.com/uc?export=download&id=199dnEnf0YzGUbXMgyxhne3O1LWQbjpmJ)

<font color='red'>__Question (4)__</font>: For the DataFrame of the fastest cars, print the output for each section:

- Find the mean value of column _Time_.
- Get the summary descriptive for the dataframe.

In [75]:
## In-Class Assignment

df_qmean = df_q.loc[:,'Time']
print('The mean is',df_qmean.mean())
print('-------------------------------')
print('')

print('Description of Vehicle DataFrame:')
df_q.describe()

The mean is 2.0759999999999996
-------------------------------

Description of Vehicle DataFrame:

       Model Year      Time
count     5.00000  5.000000
mean   2019.00000  2.076000
std       2.54951  0.088769
min    2015.00000  1.980000
25%    2018.00000  2.000000
50%    2020.00000  2.100000
75%    2021.00000  2.100000
max    2021.00000  2.200000

## 6. Importing Datasets <a name="import"></a>

Accessing data is a necessary first step for data analysis. We always use __Pandas__ for importing and exporting data thorough this course. In programming language, they refere to reading data from a file as _parsing_.

When you do data analysis, you mainly have to import/ export/ deal with one of the following type of data:

- Text files and other more efficient on-disk formats scuh as CSV files, Excel files, HTML files, GeoJSON files, etc
- Loading data from databases
- Interacting with network sources like web APIs

We will mainly focus on CSV and Excel files since they are the most common type of data types for small datasets. Following table gives you a list of available parsing functions in _pandas_ that you can use to import data. The most important ones that we will use very frequently are <font color='blue'>read_csv</font> and <font color='blue'>read_excel</font>

![alt text](https://docs.google.com/uc?export=download&id=1iCFVQBV5EjlthrZjqmCUQPm0SHuB56z7)
![alt text](https://docs.google.com/uc?export=download&id=1KBc_73mkQkRZiDdkcLFY7o_brhUP6aOi)

Let's see how can we use these to import some data sets.


### 6.1. CSV Files <a name="csv"></a>

The first data set is the data set for the experiments done by NASA on a series of airfoils to measure the noise generated due to the fluid-solid interaction in a wind tunnel. This data set is a CSV file and it is located at https://raw.githubusercontent.com/MasoudMiM/ME_364/main/Airfoil_noise/Airfoil_Noise.csv. The file has no header to describe the values in each column but the description of the data is given here: https://raw.githubusercontent.com/MasoudMiM/ME_364/main/Airfoil_noise/READ_ME.

Therefore, we know that the first five columns are:
1. Frequency, in Hertzs. 
2. Angle of attack, in degrees. 
3. Chord length, in meters. 
4. Free-stream velocity, in meters per second. 
5. Suction side displacement thickness, in meters. 

and the last column is:
6. Scaled sound pressure level, in decibels. 

So we use options <font color='green'>header</font> for <font color='blue'>read_csv</font> command to mention that the file has no header and <font color='green'>names</font> to provide names fo the columns for the data set:

In [77]:
url = 'https://raw.githubusercontent.com/MasoudMiM/ME_364/main/Airfoil_noise/Airfoil_Noise.csv'   # Link to the Airfoil Noise data set
df1 = pd.read_csv(url,header=None, names=['Frequency (Hz)','Attack_Angle (deg)','Cord (m)','FS_Velocity (m/s)','SSD_Thickness (m)','Sound_Pressure_Level (dB)'])

# Dataset is now stored in a Pandas's Dataframe
df1.head(10)

   Frequency (Hz)  ...  Sound_Pressure_Level (dB)
0             800  ...                    126.201
1            1000  ...                    125.201
2            1250  ...                    125.951
3            1600  ...                    127.591
4            2000  ...                    127.461
5            2500  ...                    125.571
6            3150  ...                    125.201
7            4000  ...                    123.061
8            5000  ...                    121.301
9            6300  ...                    119.541

[10 rows x 6 columns]

If the file is on your computer

In [78]:
import io
from google.colab import files

uploadfile = files.upload()

In [79]:
dfnew = pd.read_csv(io.BytesIO(uploadfile['Data.csv']),
                    header=None,names=['Frequency (Hz)','Attack_Angle (deg)','Cord (m)','FS_Velocity (m/s)','SSD_Thickness (m)','Sound_Pressure_Level (dB)'])
dfnew.head()

KeyError: ignored


### 6.2. Excel Files <a name="excel"></a>

The second data set is fuel economy data which are the result of vehicle testing done at the Environmental Protection Agency's National Vehicle and Fuel Emissions Laboratory in Ann Arbor, Michigan, and by vehicle manufacturers with oversight by EPA. The data file is an Excel file and it is located at https://raw.githubusercontent.com/MasoudMiM/ME_364/main/EPA_Green_Vehicle_Guide/Data.xlsx. You can also find a very good description of the data here: https://github.com/MasoudMiM/ME_364/blob/main/EPA_Green_Vehicle_Guide/Data_Description.pdf


The is an Excel file so we need to first give the address to the file using <font color='blue'>ExcelFile</font> and then import the specific sheet from the file using the command <font color='blue'>read_excel</font>

In [80]:
xlsx = pd.ExcelFile('https://raw.githubusercontent.com/MasoudMiM/ME_364/main/EPA_Green_Vehicle_Guide/Data.xlsx')
df2 = pd.read_excel(xlsx, 'Sheet1')            # first sheet of the excel file

# Dataset is now stored in a Pandas's Dataframe
df2

           Model  Displ  Cyl  ... Greenhouse Gas Score SmartWay Comb CO2
0      ACURA ILX    2.4  4.0  ...                    6       No      316
1      ACURA ILX    2.4  4.0  ...                    6       No      316
2      ACURA MDX    3.0  6.0  ...                    6       No      333
3      ACURA MDX    3.0  6.0  ...                    6       No      333
4      ACURA MDX    3.5  6.0  ...                    5       No      387
...          ...    ...  ...  ...                  ...      ...      ...
2518  VOLVO XC90    2.0  4.0  ...                    4       No      429
2519  VOLVO XC90    2.0  4.0  ...                    5       No      387
2520  VOLVO XC90    2.0  4.0  ...                    5       No      387
2521  VOLVO XC90    2.0  4.0  ...                   10    Elite      193
2522  VOLVO XC90    2.0  4.0  ...                   10    Elite      193

[2523 rows x 18 columns]

### 6.3. JSON Files <a name="jason"></a>

JSON (short for JavaScript Object Notation) has become one of the standard formats for sending data by HTTP request between web browsers and other applications. It is a much more free-form data format than a tabular text form like CSV. Here, is an example:

![alt text](https://docs.google.com/uc?export=download&id=1ZXeE9eA9EINEHFiEY6Y3i4rcWFiY1dWQ)


How you convert a JSON object or list of objects to a DataFrame or some other data structure for analysis will be up to you. Conveniently, you can pass a list of dicts (which were previously JSON objects) to the DataFrame constructor and select a subset of the data fields. A very comon application of JSON files is when we are dealing with geographic data structure.

## 7. Miscellaneous <a name="misc"></a>

### <font color='green'>Unique Values</font>

If you want to find the unique values in a specific column or part of a column in a dataframe, you can use the module `unique` in pandas. For instance, let's find how many unique value of frequencies do we have in the column Frequency for Airfoil Noise data set.

In [81]:
url = 'https://raw.githubusercontent.com/MasoudMiM/ME_364/main/Airfoil_noise/Airfoil_Noise.csv'   # Link to the Airfoil Noise data set
df1 = pd.read_csv(url, header=None, names=['Frequency (Hz)','Attack_Angle (deg)','Cord (m)','FS_Velocity (m/s)','SSD_Thickness (m)','Sound_Pressure_Level (dB)'])

# Dataset is now stored in a Pandas's Dataframe
df1.head(6)

   Frequency (Hz)  ...  Sound_Pressure_Level (dB)
0             800  ...                    126.201
1            1000  ...                    125.201
2            1250  ...                    125.951
3            1600  ...                    127.591
4            2000  ...                    127.461
5            2500  ...                    125.571

[6 rows x 6 columns]

In [82]:
df1['Frequency (Hz)'].unique()

array([  800,  1000,  1250,  1600,  2000,  2500,  3150,  4000,  5000,
        6300,  8000, 10000, 12500, 16000,   500,   630,   200,   250,
         315,   400, 20000])

So while there are total number of 1503 rows of measurements, we only have 21 unique values for frequencies.

In [83]:
print('Total number of rows:',len(df1['Frequency (Hz)']))
print('Number of unique values: ',len(df1['Frequency (Hz)'].unique()))

Total number of rows: 1503
Number of unique values:  21

### <font color='green'>Where method</font>

This module is mainly used to replce specific values in a dataframe where a given condition is False.

In [84]:
dftest=pd.DataFrame({'clm1':[1,2,3,4,5],'clm2':[4,5,6,7,8],'clm3':[9,7,5,1,0]})
dftest

   clm1  clm2  clm3
0     1     4     9
1     2     5     7
2     3     6     5
3     4     7     1
4     5     8     0

In [85]:
dftest[ dftest['clm1']<3 ]

   clm1  clm2  clm3
0     1     4     9
1     2     5     7

In [86]:
dftest['clm1'].where(dftest['clm1']<3,0,inplace=True)   # Where cond is True, keep the original value. Where False, replace with corresponding value 
dftest

   clm1  clm2  clm3
0     1     4     9
1     2     5     7
2     0     6     5
3     0     7     1
4     0     8     0

### <font color='green'>Select rows & Masking</font>

There are so many situations in which you need to select specific rows whose column value equals to a specific number or a string.

In [ ]:
dftest=pd.DataFrame({'clm1':[1,2,2,4,5],'clm2':[4,5,5,5,8],'clm3':[9,9,9,1,0]})
dftest

In [ ]:
# To select rows of the dataframe with values in column1=2
dftest[ dftest['clm1']==2 ]

In [ ]:
# To select rows of the dataframe with values in column2=5
dftest[ dftest['clm2']==5 ]

In [ ]:
# To select rows of the dataframe with values in column3 not equal to 1
dftest[ dftest['clm3']!=1 ]

<font color='red'>__Question (5)__</font>: Use the airfoil noise dataset to asnwer the following:
- Find the number of unique values of sound pressure levels
- Define a new dataframe using all the rows with values of Frequency equal to 1000 Hz.

In [110]:
# In-Class Assignment
url = 'https://raw.githubusercontent.com/MasoudMiM/ME_364/main/Airfoil_noise/Airfoil_Noise.csv'   # Link to the Airfoil Noise data set
df1 = pd.read_csv(url,header=None, names=['Frequency (Hz)','Attack_Angle (deg)','Cord (m)','FS_Velocity (m/s)','SSD_Thickness (m)','Sound_Pressure_Level (dB)'])

print('Amount of unique sound pressure values:',len(df1['Sound_Pressure_Level (dB)'].unique()))

df2 = df1[ df1['Frequency (Hz)']==1000]
df2

Amount of unique sound pressure values: 1456

      Frequency (Hz)  ...  Sound_Pressure_Level (dB)
1               1000  ...                    125.201
17              1000  ...                    126.966
36              1000  ...                    127.899
55              1000  ...                    127.365
67              1000  ...                    125.992
...              ...  ...                        ...
1432            1000  ...                    125.484
1448            1000  ...                    122.435
1464            1000  ...                    119.777
1480            1000  ...                    124.438
1494            1000  ...                    119.224

[99 rows x 6 columns]

### <font color='green'>Combining DataFrames</font>

With **Pandas**, you can merge, join, and concatenate your datasets, allowing you to unify and better understand your data as you analyze it. Here is a great read on how to do it and what are the differences between these three: https://realpython.com/pandas-merge-join-and-concat/